migen

# LiteX components
-e git+https://github.com/enjoy-digital/litex.git@2020.12#egg=litex
-e git+https://github.com/enjoy-digital/litedram.git@2020.12#egg=litedram
-e git+https://github.com/enjoy-digital/liteeth.git@2020.12#egg=liteeth
-e git+https://github.com/enjoy-digital/liteiclink.git@2020.12#egg=liteiclink
-e git+https://github.com/enjoy-digital/litesdcard.git@2020.12#egg=litesdcard
-e git+https://github.com/enjoy-digital/litevideo.git@2020.12#egg=litevideo

# Boards/cpu data
-e git+https://github.com/litex-hub/litex-boards.git@2020.12#egg=litex_boards
-e git+https://github.com/litex-hub/pythondata-cpu-vexriscv.git@2020.08#egg=pythondata-cpu-vexriscv
